*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    padding: 10px;
    margin:  20px auto;
    width: 1000px;
    background-color: #382d43;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .container{
        width: 90%;
        padding: 20px;
    }
}
.row{
    display: flex;
}
@media (max-width: 768px) {
    .row {
        display: block;
        }
}
hr{
    border: 1 solid #eee;
}
.game-info{
    display: flex;
}
.game-info .game-name{
    flex: 1;
    color: white;
    padding-bottom: 20px;
}
.game-info .category{
    flex: 1;
    text-align: right;
    color: white;
}
.game-info .category span{
    text-transform: capitalize;
    color: #E91E63;
    font-weight: bold;
}
.hangman-draw{
    flex: 1;
    background-color: white;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #7a5836 ;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;

}
.hangman-draw .the-stand{
    position: absolute;
    width: 4px;
    background-color: #7a5836;
    height: 100%;
    left: 50%;
    margin-left:-2px ;
    display: none;
}
.hangman-draw .the-hang{
    display: none;
}
.hangman-draw .the-hang::before{
    content: '';
    position: absolute;
    height: 4px;
    background-color: #7a5836;
    width: 100px;
    left: 30px;
    top: 15px;
}
.hangman-draw .the-hang::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #7a5836;
    left: 130px;
    top: 15px;
}
.hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius:50% ;
    position: relative;
    left: 96px;
    top: 45px;
    border: 4px dashed rgb(177, 12, 12);
    display: none;
}
.hangman-draw .the-man .head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 106px;
    top: 55px;
    display: none;
}
.hangman-draw .the-man .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 120px;
    top: 102px;
    left: 130px;
    display: none;
}
.hangman-draw .the-man .hands{
    display: none;
}
.hangman-draw .the-man .hands::before{
    left: 85px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after{
    content: '';
    left: 130px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .hands::before,
.hangman-draw .the-man .hands::after{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 140px;
}
.hangman-draw .the-man .legs{
    display: none;
}
.hangman-draw .the-man .legs::before{
    left: 85px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after{
    content: '';
    left: 130px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .legs::before,
.hangman-draw .the-man .legs::after{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    
    top: 230px;
}
.hangman-draw.wrong-1 .the-draw{
    display: block;
}
.hangman-draw.wrong-2 .the-stand{
    display: block;
}
.hangman-draw.wrong-3 .the-hang{
    display: block;
}
.hangman-draw.wrong-4 .the-rope{
    display: block;
}
.hangman-draw.wrong-5 .head{
    display: block;
}
.hangman-draw.wrong-6 .body{
    display: block;
}
.hangman-draw.wrong-7 .hands{
    display: block;
}
.hangman-draw.wrong-8 .legs{
    display: block;
}

.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
    position: relative;

}
@media (max-width: 768px) {
    .letters {
        padding: 30px;
        }
}
.letters.finished{
    pointer-events: none;
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #00BCD4;
    color: white;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .letters .letter-box {
        width: 40px;
        height: 25px;
        padding-bottom: 40px;
        font-size: 15px;
        line-height: 40px;
        }
}
.letters .letter-box.clicked{
    background-color: black;
    opacity: .5;
    pointer-events: none;
}

.letters-guess{
    margin: 10px auto;
    background-color: #1c1621;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;

}
.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #333;
    transition: 0.3s;
    /* display: flex; */
    flex-wrap: nowrap;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .letters-guess {
        flex-wrap: wrap; 
        justify-content: center;
        justify-items: center;
    }
    
    .letters-guess span {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        /* padding-left: 13px; */

    }
}

.letters-guess span.with-space{
    background: none;
    border-bottom: none;
    position: relative;

}
.letters-guess span.with-space::before{
    content: '';
    width: 20px;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%) ;
}

.popup {
    position: fixed;
    background-color: #0191a4;
    padding: 40px 20px;
    width: 600px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: 0 0 15px #000;
    color: #fff;
    z-index: 9999;
}

.popup p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.retry-button {
    background-color: white;
    color: #009688;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.retry-button:hover {
    background-color: #00b89d;
    color: white;
}

.health {
    position: relative;
    margin: 20px auto;
    width: 900px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.health::after {
    content: 'Health';
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #00BCD4;
}

.health .two {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00BCD4;
    transition: width 0.3s ease;
    z-index: 1;
}
@media (max-width: 768px) {
    .health {
        width: 100%;
    }
}
.hint{
    color: white;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(11, 87, 240);
    position: absolute;
    top: 82%;
    left: 7%;
    cursor: pointer;
    
}
/* To Smail  */
@media (max-width: 768px) {
    .hint {
        left: 7%;
        top: 84%;
        height: 30px;
        width: 80%;
        
    }
}

/* To Big */
@media (min-width: 1200px) {
    .hint {
        left: 7%;
        top: 85%;
    }
}
